@model IntroducaoMVC.Models.Pessoa

@{
    ViewBag.Title = "IndexVTP";
}

<h2>Index View Tipada</h2>
<br />
<br />

<h2>Representado de Dados @model.Dados</h2>
<h3>Codígo da Pessoa:     @model.Id   </h3>
<h3>Nome da Pessoa:       @model.Nome</h3>
<h3>Tipo da Pessoa:       @model.Tipo</h3>


