@Model IntroducaoMVC.Models.Pessoa

@{
    ViewBag.Title = "IndexVTP";
}

<h2>Index View Tipada</h2>
<br />
<br />

<h2>Representação de Dados @Model.RepresentacaoDados </h2>
<h3>Codígo da Pessoa:     @Model.PesssoaId   </h3>
<h3>Nome da Pessoa:       @Model.Nome</h3>
<h3>Tipo da Pessoa:       @Model.Tipo</h3>


